.buy_page-wrapper {
  max-width: var(--mainWidth);
  width: 100%;
  margin: 0 auto;
  padding-top: 44px;
  h2 {
    margin-bottom: 32px;
  }
  .buy_page-text {
    font-family: "Manrope-Regular";
    font-size: 24px;
    margin-bottom: 54px;
    line-height: 140%;
  }
  .cards {
    display: flex;
    column-gap: 33px;
  }
}
