
@font-face {
  font-family: 'Gilroy Regular';
  src: url('/assets/fonts/Gilroy-Regular.eot');
  src: url('/assets/fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/Gilroy-Regular.woff') format('woff'),
  url('/assets/fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }

footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 77px;
  background-color: var(--footerBgColor);

  .content {
    width: var(--mainWidth);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Gilroy Regular';
    color: #FFFFFF;

    #agreement {
      line-height: 18px;
    }
    #copyright {
      line-height: 16px;
    }
  }
}

