@font-face {
  font-family: "Manrope-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/Manrope-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Manrope-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/Manrope-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Manrope-SemiBold";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/Manrope-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Manrope-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/Manrope-Bold.ttf") format("truetype");
}
body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h2 {
  font-family: "Manrope-Bold";
  font-size: 36px;
}
:root {
  --footerBgColor: #565656;
}
#root {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media (1280px <= width) {
  :root {
    --mainWidth: 1170px;
  }
}

@media (1024px <= width <= 1279px) {
  :root {
    --mainWidth: 970px;
  }
}
