* {
  padding: 0;
  margin: 0;
  border: 0;
}
@font-face {
  font-family: "Manrope-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/Manrope-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Manrope-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/Manrope-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Manrope-SemiBold";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/Manrope-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Manrope-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/Manrope-Bold.ttf") format("truetype");
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

html,
body {
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Manrope-Regular";
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a {
  color: black;
}
a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h2 {
  font-family: "Manrope-Bold";
  font-size: 36px;
}

@property --gradientColor1 {
  syntax: '<color>';
  initial-value: #ff4f8d;
  inherits: false;
}

@property --gradientColor2 {
  syntax: '<color>';
  initial-value: #f98712;
  inherits: false;
}

:root {
  --footerBgColor: #565656;
  --mainGradient: linear-gradient(90deg, var(--gradientColor1), var(--gradientColor2));
  /* --mainGradient: linear-gradient(90deg, #ff4f8d 0%, #f98712 100%); */
  --mainGradientReverse: linear-gradient(-90deg, #ff4f8d 0%, #f98712 100%);
  --orange: #F57423;
  --green: #288C44;
  --red: #EB3C42;
}
#root {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/* .gradientText {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background: var(--mainGradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
} */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--mainWidth);
}
/* .filledBtn {
  font-family: 'Manrope-Medium';
  padding: 13px 65px;
  border-radius: 24px;
  background: var(--mainGradient);
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.filledBtn:hover {
  background: var(--mainGradientReverse);
} */

@media (1280px <= width) {
  :root {
    --mainWidth: 1170px;
  }
}

@media (1024px <= width <= 1279px) {
  :root {
    --mainWidth: 970px;
  }
}
@media only screen and (max-width: 768px) {
  h2 {
    font-family: "Manrope-SemiBold";
    font-size: 24px;
    line-height: 140%;
  }
}
