* {
  padding: 0;
  margin: 0;
  border: 0;
}
@font-face {
  font-family: "Manrope-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/Manrope-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Manrope-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/Manrope-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Manrope-SemiBold";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/Manrope-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Manrope-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/Manrope-Bold.ttf") format("truetype");
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

html,
body {
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Manrope-Regular";
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a {
  color: black;
}
a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h2 {
  font-family: "Manrope-Bold";
  font-size: 36px;
}

:root {
  --footerBgColor: #565656;
  --mainGradient: linear-gradient(90deg, #ff4f8d 0%, #f98712 100%);
  --mainGradientReverse: linear-gradient(-90deg, #ff4f8d 0%, #f98712 100%);
}
#root {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--mainWidth);
}

@media (1280px <= width) {
  :root {
    --mainWidth: 1170px;
  }
}

@media (1024px <= width <= 1279px) {
  :root {
    --mainWidth: 970px;
  }
}
